@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --milky: #f0f0d0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  height: 95vh;
}

.task-container {
  width: 20rem;
  height: 100%;
  margin: 0.5rem;
}

#tasks {
  margin-left: auto;
}

.container-header {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  background-color: black;
  color: var(--milky);
  text-align: center;
  text-transform: capitalize;
  border-radius: 10px 10px 0 0; 
}

.container-body {
  width: 100%;
  height: 95%;
  padding: 0.5rem;
  background-color: rgba(208, 163, 238, 0.6);
  border-radius: 0 0 10px 10px;
  overflow: auto;
}

#not-started .container-body{
  background-color: rgba(88, 143, 243, 0.6);
}

#in-progress .container-body{
  background-color: rgba(248, 219, 53, 0.6);
}

#completed .container-body{
  background-color: rgba(26, 199, 41, 0.6);
}

.add-task {
  background-color: #666;
  margin-bottom:0.5rem;
  color: var(--milky);
  text-align: center;
  padding: 1.5rem;
  border-radius: 5px;
}

.add-task:hover {
  background-color: #888;
  cursor: pointer;
}

.add-task span {
  margin: 5px;
  font-weight: 500;
}

.task-card {
  background-color: var(--milky);
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 1rem;
  position: relative;
  word-wrap: break-word;
}

.task-card:hover {
  cursor: pointer;
}

.task-card div.task-content {
  width: 90%;
}

.close {
  color: #666;
  float: right;
  font-size: 2rem;
  position: absolute;
  text-align: center;
  right: 1rem;
  top: 0.3rem;
}

.close#task-close {
  bottom: 0.7rem;
}

.close:hover {
  color: #888;
  cursor: pointer;
}

.modal-wrapper {
  width: 100%;
  position: fixed;
  top: 5rem;
  z-index: 99;
  animation: topdown 0.5s;
  display: none;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.modal {
  width: 50%;
  margin: auto;
  background-color: var(--milky);
  padding: 2rem 1rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes topdown {
  0% {
    top: -30rem;
  }
  100% {
    top: 5rem;
  }
}

.modal-content {
  width: 80%;
}

.modal-text {
  text-transform: capitalize;
  padding: 1rem;
}

.new-task-input {
  margin: auto;
  width: 100%;
  border: 1px solid #666;
  border-radius: 5rem;
  background-color: var(--milky);
  padding: 1rem;
  font-size: 1.5rem;
}

.input-msg {
  text-align: center;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.add-btn {
  display: block;
  margin: auto;
  width: 50%;
  text-transform: capitalize;
  background-color: rgb(44, 185, 56);
  border: none;
  border-radius: 5rem;
  padding: 1rem;
  text-align: center;
}

.add-btn:hover {
  background-color: rgb(56, 197, 68);
  cursor: pointer;
}